.foot-nav a {
		color: #FFFFFF;
		text-decoration: none;
	}
	
	.foot-nav {
		display: flex;
		justify-content: space-around;
		height: 54px;
		border-bottom: 1px solid #ccc;
		align-items: center;
		position: fixed;
		bottom: 0px;
		width: 100%;
		background: #14B9C8;
		color: #ffffff;
		font-size: 12px;
	}
	
	.foot-nav img {
		height: 20px;
		margin: 6px auto;
	}
	
	.mint-msgbox-message {
		font-size: 30px
	}
	
	.mint-msgbox-confirm {
		font-size: 30px
	}
	.header {
		background: #14B9C8;
		width: 100%;
		height: 58px;
		position: fixed;
		z-index: 100;
	}
	
	.header img {
		width: 86px;
		height: 26px;
	}
	
	.nav a {
		color: #2c3e50;
		text-decoration: none
	}
	
	.nav a.router-link-active {
		color: #c01920
	}
	h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  
}

a {
  color: #42b983;
}
.banner{
	width: 100%;
	height:150px;
}
.banner img{
	width: 100%;
	height:150px;
}
	
.mint-swipe-indicators{
	bottom: 10px;
}
.mint-swipe-indicator{
	background:#AEAEAE;
	opacity: 1;
}
	.day li{height:203px;background:#f2f2f2}
	.day li .title{display: flex;}
	.day li .title span{text-align: left;width:100px;margin-top:25px;margin-left:15px;font-size: 16px;flex:50%}
	.day li .title a{text-align: right;width:100px;margin-top:28px;margin-right:15px;color:#14B9C8;flex:50%}
	.day li .games{display: flex;margin-top:18px;margin-left:14px}
	.day li .games div{margin-right:10px}
	 .day li .games div img{width:80px;height:82px;margin-bottom:10px}
	 .old{margin-right:10px;flex:50%}
	 .old img{width:170px;height:85px}
	 .img123{padding:23px 15px;display: flex;background:#f2f2f2}
	 .ddbox{background: #eeeeee;}
	.banner{
	width: 100%;
	height:150px;
	
}
.banner img{
	width: 100%;
	height:150px;
}
	
.mint-swipe-indicators{
	bottom: 10px;
}
.mint-swipe-indicator{
	background:#AEAEAE;
	opacity: 1;
}
.top{display:flex;padding:16px;margin-bottom: 10px;background: white;}
.top .img1{width:80px;height:80px;flex:25%}
.top span{display: block;}
.top .text234{margin-left:6px;text-align:left;flex:60%}
.top .text234 .a1{font-size: 17px;margin-bottom: 5px;}
.top .text234 .a2{font-size: 14px;color:#14B9C8;margin-bottom: 4px;}
.top .text234 .a3{font-size: 14px;color:#b7b7b7;margin-bottom: 5px;}
.top .text234 .a4{border-radius: 3px;padding:3px 5px;color:white;border:1px solid #14B9C8;background: #14B9C8;width:60px}
.top .text234 img{float: left;width:20px;height:20px;margin-left:80px;margin-right:17px;margin-top:2px}
.top .text234 a{float: left;border-radius: 3px;padding:3px 5px;color:#14B9C8;border:1px solid #14B9C8;width:30px}
.top .text345{flex:15%}
.top .text345 img{width:52px;height:51px;flex:25%}
.top .text345 a{border-radius: 3px;padding:3px 5px;color:white;border:1px solid #14B9C8;background: #14B9C8;width:30px;margin-top:40px;display:block;margin-left:5px}
.text4{background: white;padding:15px 0 0 10px}
.text4 .title{display: flex;}
.text4 .title img{width:8px;height:20px}
.text4 .title a{font-size: 20px;margin-left: 5px;}
.text4 .text6{margin-left:12px;display:block;text-align: left;margin-top:20px;}
.text4 .text7{margin-left:12px;display:block;text-align: left;margin-top:20px;width:340px}
.list li{display:flex;height:93px;border-top:1px solid #eeeeee}
	.list li .title1{font-size:16px;line-height:93px;margin-left:12px;margin-right:12px;}
	.list li img{width:60px;height:61px;margin-top:16px;margin-right:10px}
	.list li div{margin-top:16px;}
	.list li div span{display:block;text-align: left;margin-bottom: 2px;}
	.list li div p{float:left;color:#14B9C8;border:1px solid #14B9C8;margin-right:7px;margin-top:2px;border-radius: 3px;padding:3px 5px}
	.gamess .list li{display:flex;height:93px;border-top:1px solid #eeeeee;padding-left:20px;}
	.gamess .list li .title1{font-size:16px;line-height:93px;margin-left:12px;margin-right:12px;}
	.gamess .list li img{width:60px;height:61px;margin-top:16px;margin-right:10px}
	.gamess .list li div{margin-top:16px;}
	.gamess .list li div span{display:block;text-align: left;margin-bottom: 2px;}
	.gamess .list li div p{float:left;color:#14B9C8;border:1px solid #14B9C8;margin-right:7px;margin-top:2px;border-radius: 3px;padding:3px 5px}
	.gamess .games{height:40px;font-size:20px;color:#14B9C8;line-height:40px}
	.black{background:#f0f0f0}
.game1{width:100%;margin-bottom: 10px;background:white}
.game1 .b1{display: flex;margin-left:10px;}
.game1 .b1 img{width:19px;height:19px;margin-top:10px}
.game1 .b1 span{color:#aeaeae;margin-top:0px;margin-left:6px;font-size: 12px;margin-top:10px}
.game1 p{text-align: left;margin-left:10px;font-size: 15px;color:#4a4a4a;margin-top:9px;margin-bottom: 10px;}
.bigimg img{height:143px;width:100%}
.text1{height:40px;width:100%;font-size:13px;}
.text1 span{margin-left:10px;text-align: left;display:block;width:352px;margin-top:13px;line-height:20px}
 .text2{height:40px;width:100%;font-size:13px;}
  .text2 span{margin-left:10px;text-align: left;display:block;width:352px;margin-top:13px;line-height:20px}
  .text3{height:40px;width:100%;font-size:13px;margin-bottom:64px;}
  .text3 span{margin-left:10px;text-align: left;display:block;width:352px;margin-top:13px;line-height:20px}
.black a{text-decoration: none;color:black}